<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Art-App</title>
</head>
<body>
<header>
    <a href="/"><h1>ART-APP</h1></a>
    <div class="container">
        <fieldset>
            <div th:if="${!isAuthenticated}">
                <a href="/oauth2/authorization/keycloak"><button type="button"
                                                                 class="btn btn-lg btn-primary btn-block">Login</button></a>
            </div>
            <div th:if="${isAuthenticated}">
<!--                <p>User: <span th:utext="${name}"></span></p>-->
                <a th:href="@{/user/{id}(id=${userId})}" th:text="${name}"></a>
                <a href="/logout"><button type="button" class="btn btn-lg btn-primary">Logout</button></a>
            </div>
        </fieldset>
        <fieldset>
            <form th:action="@{/search}" method="get">
                <label for="query">Search images:</label>
                <input type="text" id="query" name="q" placeholder="input a phrase..." />
                <button type="submit">Search</button>
            </form>
        </fieldset>
        <fieldset>
            <a href="/topimages"><span>Top images</span></a>
        </fieldset>
        <fieldset>
            <a href="/favourites"><span>Favourites</span></a>
        </fieldset>
        <fieldset>
            <a href="/upload"><span>Upload image</span></a>
        </fieldset>
    </div>
</header>
</body>
</html>
